
.dark {
    background-color: #444;
}
.dark > .navbar{
    background-color: #222;
    color: whitesmoke;
    border-bottom: 1px solid #444;
}
.dark > .navbar > .left {
    color: whitesmoke;
}
.dark > .navbar > .center .search > input{
    color: whitesmoke;
    
}

.dark > .navbar > .right >ul li:hover{
    background-color: #999;
}
.dark > .navbar > .right .active > li:hover {
    background-color: #06b1e6;

}

.dark .panel{
    background-color: #333;
}

.dark .movieList {
    background-color: #444;
    
}
.dark .movieList > h2{
    color: whitesmoke;
}

.dark .movieList > .singleMovie {
    background-color: #fff;
}
.dark .movieList > .singleMovie > .upside > .date{
    background-color: #fff;
}

.dark .wlContainer > .wrapper {
    color: whitesmoke;
}

.dark .pagelist{
    background-color: #333;
    
}


.dark .genrelist {
    background-color: #333;
}

.dark .genrelist > .normalgenre{
    color: #bbb;
}

.dark .genrelist > .normalgenre:hover {
    color: #fff;
    background-color: #999;
}
.dark .genrelist > .activegenre{
    color: #000;
}